$bronze: #ba8039;
$lightTurquise: #77a9b0;
$lightBronze: #d3ad7f;
$lightGray: #909090;
$darkGray: #383838;
$veryDarkGray: #191919;
$borderGray: #838382;
$brightRed: #ff4949;

$primary: $bronze;
$secondary: $lightBronze;
$background: black;
$cardBackground: $veryDarkGray;
$lightText: white;
$darkText: $lightGray;
$lightTurquise: $lightTurquise;
$borderColor: $borderGray;
$error: $brightRed;
