@use "../colors" as *;

.mvstModal {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: -webkit-fill-available;
  z-index: 1000;
  border-radius: 10px;
  justify-items: center;
  padding-inline: 16px;
  padding-top: 24px;

  .modalHeader {
    display: flex;
    width: 100%;
    padding: 16px;
    a {
      text-decoration: none;
      font-size: 20px;
      font-weight: bold;
      &:active {
        color: $darkGray;
      }
    }
    justify-content: flex-end;
    margin-bottom: 16px;
  }

  .modalContainer {
    display: flex;
    flex-direction: column;
  }

  .modalTitle {
    font-size: 50px;
    font-weight: 400;
    text-align: center;
  }

  .modalFooter {
    display: none;
  }
}

@media (min-width: 900px) {
  .mvstModal {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: unset;
    border: 1px solid;

    .modalContainer {
      margin: 0 80px;
    }
    .modalFooter {
      display: block;
      width: 100%;
      height: 100%;

      .image {
        max-width: 200px;
        max-height: 150px;
        margin-left: -16px;
        margin-bottom: -8px;
      }
    }
  }
}
